@import url(http://fonts.googleapis.com/css?family=Bree+Serif);

body {
background: linear-gradient(to bottom, #5B5D52 0%,#464443 100%);

}

.colordiv {
    height: 20px;

    background: #606954;
    background: -moz-linear-gradient(top,  #606954 0%, #606d53 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#606954), color-stop(100%,#606d53));
    background: -webkit-linear-gradient(top,  #606954 0%,#606d53 100%);
    background: -o-linear-gradient(top,  #606954 0%,#606d53 100%);
    background: -ms-linear-gradient(top,  #606954 0%,#606d53 100%);
    background: linear-gradient(to bottom,  #606954 0%,#606d53 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606954', endColorstr='#606d53',GradientType=0 );



}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

a.topfix {
  display: block;
  position: relative;
  top: -60px;
  visibility: hidden;
}

h1, h2, h3, h4, h5, h6 {
  /* font-family: 'Bree Serif', serif; */
  /* font-family: 'Lilita One', serif; */
  font-family: 'Bree Serif', serif;
}

div.highlight pre {
  overflow-x: auto;
  overflow-wrap: normal;
  white-space: pre;
}

.nojs-error {
  position: fixed;
  top: 0px;
  left: 50%;
  height: 51px;
  width: 500px;
  margin-left: -250px;
  color: white;
  background-color: red;
  font-weight: bold;
  padding: 16px;
  text-align: center;
  z-index: 9999;
}


.jumbotron {
  width:100%;
}

.lambda {
  background-image: url(../img/Lambda_lc.svg);
  background-repeat: no-repeat;
  background-position: right;
  padding:48px;
  height: 250px;
}